@font-face {
  font-family: Roboto-Regular;
  src: url(./assets/fonts/Roboto-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto-Regular;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #0a3d62;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  background-color: #ffffff88;
  border-bottom-right-radius: 30px;
  border-top-left-radius: 30px;
  min-height: 200px;
}
.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  padding: ;
}
.input-container .copy {
  position: absolute;
  right: 10px;
  border-radius: 10%;
  border: none;
  outline: none;
  padding: 10px;
  color: #fff;
  font-size: 25px;
  cursor: pointer;
  z-index: 999999;
}

input {
  padding: 20px;
  outline: none;
  border: none;
  border-radius: 50px;
  margin: 10px;
  background-color: #000;
  width: 100%;
  color: #fff;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.generate {
  padding: 12.5px 30px;
  border: 0;
  border-radius: 100px;
  background-color: #2ba8fb;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  margin-top: 10px;
}

.generate:hover {
  background-color: #6fc5ff;
  box-shadow: 0 0 20px #6fc5ff50;
  transform: scale(1.1);
}

.generate:active {
  background-color: #3d94cf;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  box-shadow: none;
  transform: scale(0.98);
}
#error {
  color: red;
}
input,
p,
h1 {
  margin: 5px;
  color: #fff;
}
#copy-password {
  color: #ffffff;
}
